body {
  background-color: #141218;
  font-family: 'Roboto', cursive;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: top right 20%; }

.container {
  width: 95%;
  max-width: 1140px;
  margin: auto; }

.swiper-container {
  max-width: 400px;
  margin-left: 0; }

.menu__button {
  display: none; }

@font-face {
  font-family: 'MasonChronicles';
  src: url("../fonts/MasonChronicles.woff") format("woff"), url("../fonts/MasonChronicles.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  margin-bottom: 90px; }

.menu__list {
  margin-right: auto;
  margin-left: 67px; }

.menu__link {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 24px;
  transition: 0.2s; }
  .menu__link:hover {
    font-size: 15px; }

.social__link {
  margin-right: 20px;
  text-decoration: none;
  transition: 0.2s; }
  .social__link:hover {
    margin-left: 8px; }

.genre {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 16px; }

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px; }
  .rating__number {
    font-size: 12px;
    line-height: 14px;
    margin-left: 9px; }

.main__title {
  font-family: 'MasonChronicles', cursive;
  font-weight: 500;
  font-size: 76px;
  line-height: 89px;
  margin-bottom: 10px; }

.main__description {
  max-width: 485px;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 40px; }

.main__content {
  display: flex;
  margin-bottom: 85px; }

.button {
  display: inline-block;
  background-color: #9D2929;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  padding: 22px 72px;
  text-decoration: none;
  transition: 0.2s; }
  .button:hover {
    box-shadow: 0 0 10px #db070780; }
  .button:active {
    color: #ffffff; }
  .button:focus {
    outline: none; }

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #9D2929;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  margin: auto; }
  .play__img {
    position: relative;
    transform: translateX(5px); }

.play:before {
  content: '';
  position: absolute;
  width: 132px;
  height: 132px;
  background: #9D2929;
  opacity: 0.5;
  border-radius: 50%;
  left: -16px;
  top: -16px;
  -webkit-animation: pulse 0.7s ease-in-out 1s infinite;
  animation: pulse 0.7s ease-in-out 1s infinite; }

.card {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 164px;
  height: 113px;
  border-radius: 8px;
  padding: 13px;
  margin-right: 50px;
  cursor: pointer; }
  .card__title {
    font-size: 14px;
    line-height: 16px; }
  .card__subtitle {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 2px; }

.series {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  position: relative;
  max-width: 420px; }
  .series__1 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/main/series-1.jpg") no-repeat center/cover; }
  .series__2 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/main/series-2.jpg") no-repeat center/cover; }
  .series__3 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/main/series-3.png") no-repeat center/cover; }
  .series__4 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/main/series-4.jpg") no-repeat center/cover; }
  .series__5 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/main/series-5.png") no-repeat center/cover; }
  .series__6 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/main/series-6.jpeg") no-repeat center/cover; }
  .series__7 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/main/series-7.jpg") no-repeat center/cover; }
  .series__8 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/main/series-8.jpg") no-repeat center/cover; }

.arrow {
  width: 32px;
  height: 23px;
  border: none;
  background: url("../img/main/arrow.svg") no-repeat center/cover;
  background-color: transparent;
  position: absolute;
  top: 42%;
  right: -45px;
  transition: 0.2s; }
  .arrow:hover {
    transform: rotateX(45deg); }

.footer {
  background-color: #141218;
  padding: 20px;
  margin-top: auto; }
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__link {
    text-decoration: none;
    color: #727174;
    margin-left: 25px;
    transition: 0.2s; }
    .footer__link:hover {
      color: #494934; }
  .footer__copyright {
    color: #727174; }

@media (max-width: 760px) {
  .play {
    display: none; }
  .footer__content {
    flex-direction: column;
    align-items: flex-start; }
  .footer__copyright {
    display: block;
    margin-bottom: 8px; }
  .footer__link:first-child {
    margin-left: 0; } }

@media (max-width: 540px) {
  .menu__button {
    display: block;
    position: absolute;
    right: 35px;
    top: 40px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border: none;
    cursor: pointer; }
  .menu__button::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border: none;
    margin-top: -7px;
    transition: transform 0.2s; }
  .menu__button::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border: none;
    margin-top: 7px;
    transition: transform 0.2s; }
  .menu__button--active {
    height: 0; }
    .menu__button--active::after {
      transform: rotate(45deg);
      margin-top: 0; }
    .menu__button--active::before {
      transform: rotate(-45deg);
      margin-top: 0; }
  .header {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #9D2929;
    width: 250px;
    padding-bottom: 40px; }
  .header--active {
    display: flex; }
  .logo {
    margin-bottom: 25px; }
  .menu__list {
    order: 2;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .menu__link {
    margin-right: 0;
    margin-bottom: 17px; }
  .social {
    order: 1;
    margin-bottom: 22px; }
    .social__link:first-child {
      margin-left: 0; }
  .swiper-container {
    width: 80%; }
  .main__content {
    margin-top: 196px; }
  .main__title {
    font-size: 56px; }
  .series {
    width: 80%; } }
