@font-face {
  font-family: 'MasonChronicles';
  src: url('../fonts/MasonChronicles.woff') format('woff'),
       url('../fonts/MasonChronicles.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}